accelerate==0.23.0; python_full_version >= "3.8.0"
aiohttp==3.8.5; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.6"
aiosignal==1.3.1; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.7"
alembic==1.12.0; python_version >= "3.7"
anyio==3.7.1; python_version >= "3.8"
async-timeout==4.0.3; python_full_version >= "3.8.1" and python_version < "3.11" and python_version >= "3.7"
attrs==23.1.0; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.7"
backoff==2.2.1; python_version >= "3.7" and python_version < "4.0"
bitsandbytes==0.41.1
certifi==2023.7.22; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.7"
cffi==1.15.1; python_version >= "3.7" and python_version < "4.0" and platform_python_implementation == "PyPy"
charset-normalizer==3.2.0; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.7"
chromadb==0.3.26; python_version >= "3.7"
click==8.1.7; python_version >= "3.8" and python_full_version >= "3.6.0"
clickhouse-connect==0.6.14; python_version >= "3.7" and python_version < "4.0"
cmake==3.27.5; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.8.0"
colorama==0.4.6; sys_platform == "win32" and python_version >= "3.8" and python_full_version >= "3.8.0" and platform_system == "Windows" and (python_version >= "3.8" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.8" and python_full_version >= "3.7.0")
coloredlogs==15.0.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
contourpy==1.1.0; python_version >= "3.9"
cycler==0.11.0; python_version >= "3.9"
dataclasses-json==0.5.9; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.6"
duckdb==0.8.1; python_version >= "3.7"
einops==0.6.1; python_version >= "3.7"
exceptiongroup==1.1.3; python_version < "3.11" and python_version >= "3.8"
fastapi==0.103.1; python_version >= "3.7"
filelock==3.12.4; python_version >= "3.8" and python_full_version >= "3.8.0" and platform_system == "Linux" and platform_machine == "x86_64"
flatbuffers==23.5.26; python_version >= "3.7"
fonttools==4.42.1; python_version >= "3.9"
frozenlist==1.4.0; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.8"
fsspec==2023.9.2; python_version >= "3.8" and python_full_version >= "3.8.0"
greenlet==2.0.2; platform_machine == "aarch64" and python_version >= "3.7" and python_full_version >= "3.8.1" and python_version < "4.0" or platform_machine == "ppc64le" and python_version >= "3.7" and python_full_version >= "3.8.1" and python_version < "4.0" or platform_machine == "x86_64" and python_version >= "3.7" and python_full_version >= "3.8.1" and python_version < "4.0" or platform_machine == "amd64" and python_version >= "3.7" and python_full_version >= "3.8.1" and python_version < "4.0" or platform_machine == "AMD64" and python_version >= "3.7" and python_full_version >= "3.8.1" and python_version < "4.0" or platform_machine == "win32" and python_version >= "3.7" and python_full_version >= "3.8.1" and python_version < "4.0" or platform_machine == "WIN32" and python_version >= "3.7" and python_full_version >= "3.8.1" and python_version < "4.0"
h11==0.14.0; python_version >= "3.8"
hnswlib==0.7.0; python_version >= "3.7"
httptools==0.6.0; python_version >= "3.8" and python_full_version >= "3.5.0"
huggingface-hub==0.17.2; python_full_version >= "3.8.0"
humanfriendly==10.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
idna==3.4; python_version >= "3.8" and python_full_version >= "3.8.1" and python_version < "4.0"
jinja2==3.1.2; python_version >= "3.7" and python_full_version >= "3.8.0"
joblib==1.3.2; python_version >= "3.8" and python_full_version >= "3.6.0"
kiwisolver==1.4.5; python_version >= "3.9"
langchain==0.0.295; python_full_version >= "3.8.1" and python_version < "4.0"
langsmith==0.0.40; python_full_version >= "3.8.1" and python_version < "4.0"
lit==16.0.6; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.8.0"
lz4==4.3.2; python_version >= "3.7" and python_version < "4.0"
mako==1.2.4; python_version >= "3.7"
markupsafe==2.1.3; python_version >= "3.7" and python_full_version >= "3.8.0"
marshmallow-enum==1.5.1; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.6"
marshmallow==3.20.1; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.8"
matplotlib==3.8.0; python_version >= "3.9"
monotonic==1.6; python_version >= "3.7"
mpmath==1.3.0; python_version >= "3.8" and python_full_version >= "3.8.0"
multidict==6.0.4; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.7"
mypy-extensions==1.0.0; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.6"
networkx==3.1; python_version >= "3.8" and python_full_version >= "3.8.0"
nltk==3.8.1; python_version >= "3.7" and python_full_version >= "3.6.0"
numexpr==2.8.6; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.7"
numpy==1.25.2; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.11"
nvidia-cublas-cu11==11.10.3.66; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.8.0" and python_version >= "3"
nvidia-cuda-cupti-cu11==11.7.101; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.8.0" and python_version >= "3"
nvidia-cuda-nvrtc-cu11==11.7.99; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.8.0" and python_version >= "3"
nvidia-cuda-runtime-cu11==11.7.99; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.8.0" and python_version >= "3"
nvidia-cudnn-cu11==8.5.0.96; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.8.0" and python_version >= "3"
nvidia-cufft-cu11==10.9.0.58; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.8.0" and python_version >= "3"
nvidia-curand-cu11==10.2.10.91; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.8.0" and python_version >= "3"
nvidia-cusolver-cu11==11.4.0.1; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.8.0" and python_version >= "3"
nvidia-cusparse-cu11==11.7.4.91; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.8.0" and python_version >= "3"
nvidia-nccl-cu11==2.14.3; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.8.0" and python_version >= "3"
nvidia-nvtx-cu11==11.7.91; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.8.0" and python_version >= "3"
onnxruntime==1.16.0; python_version >= "3.7"
openai==0.28.0; python_full_version >= "3.7.1"
overrides==7.4.0; python_version >= "3.7"
packaging==23.1; python_version >= "3.9" and python_full_version >= "3.8.1" and python_version < "4.0"
pandas==2.0.3; python_version >= "3.8"
pillow==10.0.1; python_version >= "3.9" and python_full_version >= "3.6.0"
posthog==3.0.2; python_version >= "3.7"
protobuf==4.24.3; python_version >= "3.7"
psutil==5.9.5; python_full_version >= "3.8.0"
psycopg2-binary==2.9.7; python_version >= "3.6"
pulsar-client==3.3.0; python_version >= "3.7"
pyarrow==13.0.0; python_version >= "3.8"
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" and platform_python_implementation == "PyPy" or python_version >= "3.7" and python_version < "4.0" and platform_python_implementation == "PyPy" and python_full_version >= "3.4.0"
pydantic==1.10.12; python_version >= "3.7"
pyparsing==3.1.1; python_full_version >= "3.6.8" and python_version >= "3.9"
pypdf2==3.0.1; python_version >= "3.6"
pyreadline3==3.4.1; sys_platform == "win32" and python_version >= "3.8" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7")
pytelegrambotapi==4.14.0
python-dateutil==2.8.2; python_version >= "3.9" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.9"
python-dotenv==1.0.0; python_version >= "3.8"
pytz==2023.3.post1; python_version >= "3.8" and python_version < "4.0"
pyyaml==6.0.1; python_version >= "3.8" and python_full_version >= "3.8.1" and python_version < "4.0"
regex==2023.8.8; python_version >= "3.7" and python_full_version >= "3.8.0"
requests==2.31.0; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.8"
safetensors==0.3.3.post1; python_version >= "3.7" and python_full_version >= "3.8.0"
scikit-learn==1.3.1; python_version >= "3.8" and python_full_version >= "3.6.0"
scipy==1.9.3; python_version >= "3.8" and python_full_version >= "3.6.0"
sentence-transformers==2.2.2; python_full_version >= "3.6.0"
sentencepiece==0.1.99; python_full_version >= "3.6.0"
setuptools-scm==8.0.3; python_version >= "3.9"
six==1.16.0; python_version >= "3.9" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.9"
sniffio==1.3.0; python_version >= "3.8"
sqlalchemy==2.0.21; python_version >= "3.7"
starlette==0.27.0; python_version >= "3.7"
style==1.1.0
sympy==1.12; python_version >= "3.8" and python_full_version >= "3.8.0"
tenacity==8.2.3; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.7"
threadpoolctl==3.2.0; python_version >= "3.8" and python_full_version >= "3.6.0"
tokenizers==0.13.3; python_version >= "3.7" and python_full_version >= "3.8.0"
tomli==2.0.1; python_version < "3.11" and python_version >= "3.9"
torch==2.0.0; python_full_version >= "3.8.0"
torchvision==0.15.1; python_version >= "3.8" and python_full_version >= "3.6.0"
tqdm==4.66.1; python_version >= "3.7" and python_full_version >= "3.8.0"
transformers==4.33.2; python_full_version >= "3.8.0"
triton==2.0.0; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version >= "3.8.0"
typing-extensions==4.8.0; python_version < "3.11" and python_version >= "3.9" and python_full_version >= "3.8.1"
typing-inspect==0.9.0; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.6"
tzdata==2023.3; python_version >= "3.8"
update==0.0.1
urllib3==2.0.5; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.7"
uvicorn==0.23.2; python_version >= "3.8"
uvloop==0.17.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.8"
watchfiles==0.20.0; python_version >= "3.8"
websockets==11.0.3; python_version >= "3.8"
yarl==1.9.2; python_full_version >= "3.8.1" and python_version < "4.0" and python_version >= "3.7"
zstandard==0.21.0; python_version >= "3.7" and python_version < "4.0"
